---
import { getCollection } from "astro:content";
import { IdToSlug } from "@/utils/hash";
import BlogLayout from "@/layouts/BlogLayout.astro";
import { render } from "astro:content";
import AsukaConfig from "~/asuka.config";
import TableOfContents from "@/components/TableOfContents.astro";
import BlogEnhancements from "@/components/BlogEnhancements.astro";
import MobileTableOfContents from "@/components/MobileTableOfContents.astro";

export async function getStaticPaths() {
  const postEntries = await getCollection("blog", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });
  return postEntries.map((entry) => ({
    params: { slug: IdToSlug(entry.id) },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await render(entry);
---

<BlogLayout
  title={entry.data.title}
  subTitle={entry.data.description}
  bannerImage={entry.data.cover}
  published={entry.data.published}
  license={AsukaConfig.license}
  author={entry.data.author}
>
  <!-- 主文章内容 -->
  <div
    class="hidden"
    data-pagefind-body
    data-pagefind-weight="10"
    data-pagefind-meta="title"
  >
    {entry.data.title}
  </div>
  <div data-pagefind-body>
    <Content />
  </div>
  
  <!-- 右侧目录导航 -->
  <TableOfContents slot="sidebar" headings={headings} />
</BlogLayout>

<!-- 博文阅读增强功能 -->
<BlogEnhancements />

<!-- 移动端目录导航 -->
<MobileTableOfContents headings={headings} />
