---
import "@/styles/global.css";

import { env } from "@/config/env";
const {
  PUBLIC_SITE_TITLE,
  PUBLIC_OG_TITLE,
  PUBLIC_OG_DESCRIPTION,
  PUBLIC_OG_IMAGE,
  PUBLIC_OG_URL,
  PUBLIC_OG_SITE_NAME,
} = env;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Software Developer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
    <meta property="og:title" content={PUBLIC_OG_TITLE} />
    <meta property="og:description" content={PUBLIC_OG_DESCRIPTION} />
    <meta property="og:image" content={PUBLIC_OG_IMAGE} />
    <meta property="og:url" content={PUBLIC_OG_URL} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={PUBLIC_OG_SITE_NAME} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      />
    </noscript>

    <title>{PUBLIC_SITE_TITLE}</title>
  </head>
  <body class="cyberpunk-body md:px-48 lg:px-20 px-9">
    <slot />
  </body>
</html>

<style>
  .cyberpunk-body {
    background: #000000;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
  }
</style>
